# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore any local configuration files
*.local

# Ignore IDE/editor specific files
.vscode/
.idea/